*{
	margin: 3px;
	padding: 3px;
}



#page{
	width: 610px;
	margin: 0 auto;
}

body{
	font-family: "ƒqƒ‰ƒMƒmŠpƒS ProN", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

canvas {
  border: solid black 1px;
}
