*{
	margin: 3px;
	padding: 3px;
}


th{
	text-align: left;
	width: 12em;
}

.tx {
	width: 5em;
	height: 1.2em;
}

.optionDiv{
	background-color : lightgray;
}

#page{
	width: 610px;
	margin: 0 auto;
}

body{
	font-family: "ƒqƒ‰ƒMƒmŠpƒS ProN", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", Meiryo, sans-serif;
}

canvas {
  border: solid black 1px;
}
